{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perferendis quaerat aliquam? Maiores dignissimos beatae officiis tempore cum aperiam obcaecati. Repellat saepe animi harum vero esse aut voluptatum quos repellendus. Molestiae perspiciatis eaque temporibus, architecto, corrupti cum soluta qui beatae reiciendis nostrum odio, est odit totam perferendis quaerat ratione dignissimos rerum necessitatibus iusto eveniet voluptatem impedit! Nihil nostrum sit rem libero est? Aspernatur similique maxime tenetur id dicta! Vero, aut esse deserunt ab impedit voluptate ipsam quo totam amet fuga! Rem, tenetur blanditiis similique repellat aut tempora sapiente perspiciatis veritatis ratione soluta quam perferendis earum dicta assumenda itaque officiis officia!</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">Iniciar sesión</a>
            <a class="btn btn-danger" href="/signup/">Regístrate</a>
        </div>
    </section>
</main>
{% endblock%}